@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('../fonts/OpenSans-Medium.eot');
  src: url('../fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Medium.ttf') format('truetype'),
       url('../fonts/OpenSans-Medium.woff') format('woff'),
       url('../fonts/OpenSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/OpenSans-Light.woff') format('woff'),
       url('../fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


  ::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #bebebe;
  }
  
  body {
    position: absolute;
    margin: 0vw;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    padding-bottom: 2vw;
      /*overflow:scroll;*/
  }

  .content{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    opacity: 1;
    transition-duration: 0.5s;
    margin-top: 5vw;
    display: none;
    background-color: rgb(136, 152, 167);
  }

  .red{
    color: #e43228;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .bigLogoContainer{
    width: 50%;
    left: 42%;
    padding-top: 0.5vw;
    margin-top: 10vw;
    opacity: 0;
    transition-duration: 0.5s;
    position: relative;
    height: auto;
  }

  .bigLogo{
    width: 30%;
  }

  .menu{
    width: 100%;
    height: 3em;
    position: sticky;
    top: 0vw;
    z-index: 100;
    background-color: white;
    color: black;
    line-height: 8vw;
    text-transform: uppercase;
    font-family: 'OpenSans-Medium';
    font-size: 1.2em;
    text-align: center;
/*     -webkit-box-shadow: 0px 7px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 9px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 9px -8px rgba(0,0,0,0.75); */
  }

  .menuLogo{
    float: left;
    position: absolute;
    left: 1vw;
    transition-duration: 0.2s;
    opacity: 0;
    width: 3em;
  }

  .menuitem{
    margin-right: 4vw;
  }

  .mobileMenuItem{  
    width: auto;
    border: 0vw;
    height: 3em;
    line-height: 3em;
    display:inline-block
  }

  .szelso{
    margin-right: 0vw;
  }

  .placeholder{
    position:relative;
    width: 100%;
    height: 40vw;
    float: left;
    padding-left: 1vw;
    padding-right: 1vw;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
  }
  
  .egy{
    background-color: white;
  }

  .ketto{
    background-color: white;
  }

  .harom{
    background-color: white;
  }

  .navIcon{
    display: none;
  }

  .mobileMenu{
    display: none;
  }

  .legordulo{
    width: 100%;
    position: relative;
    height: 3em;
    line-height: 3em;
    text-align: center;
  }

  .placeholderpic{
    position: absolute;
    width: 50%;
    top: 15%;
    -webkit-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.75);
    border-radius: 0.5vw;
  }

  .rightalign{
    right: 1vw;
  }

  .floatRight{
    float: right;
  }

  .textBox{
    border-radius: 0.2vw;
    position: relative;
    max-width: 49vw;
    margin: 0vw;

    height: auto;
    background-color: white;

    top: 8vw;
    right: 0vw;
    padding: 0.5vw 1vw 0.5vw 1vw;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 

    -webkit-box-shadow: -2px 0px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 12px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 12px -4px rgba(0,0,0,0.75);
  }

  .textBoxTitle{
    font-size: 1.5vw;
    color: black;
    font-family: "OpenSans-SemiBold";
  }

  .textBoxParagraph{
    font-size: 0.8vw;
    color: black;
    font-family: "OpenSans-Regular";
  }
  
  @media only screen and (max-width: 1000px) {

  .placeholder{
    height: 70vw;
  }

  .placeholderpic{
    width: 98%;
  }

  .textBox {
    max-width: 93vw;
    margin: 0vw;
    top: 13vw;
    right: 0vw;
  }

  .textBoxTitle {
    font-size: 5.5vw;
    margin: 0vw;
  }

  .textBoxParagraph {
    font-size: 1.5vw;
  }
  .navIcon{
    width: 1.5em;
    position: absolute;
    display: block;
    top: 7vw;
    right: 2vw;
    cursor: pointer;
  }

  .menuitem{
    margin-right: 0vw;
  }

  .mobileMenuItem{
    width: 100%;
    float: left;
    line-height: 2.5em;
    height: 0vh;
    border-bottom: 0px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.7s;
  }

  .menu{
    top: -17vw;
    background-color: white;
    position: absolute;
    font-family: 'OpenSans-Medium';
    width: 100%;
    line-height: 3em;
    height: 3em;
    display: block;
    transition-duration: 0.5s;
    text-transform: uppercase;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
  }

  .menuLogo{
    width: 1.7em;
  }

  .legordulo{
    background-color: #f4f4f4;
    width: 100%;
    font-family: 'OpenSans-Medium';
    position: relative;
    top: 19vw;
    float: left;
    height: auto;
    overflow-y: hidden;
    text-align: center;
  }

  .bigLogoContainer {
    z-index: 999;
  }

}

@media screen and (max-height: 900px) and (orientation: landscape) {

}